.show-xsv {
  display: none;
}

@media (max-width: 320px) {

  .show-xsv {
    display: block;
  }

}

@media (max-width: 320px) {

  .hidden-xsv {
    display: none;
  }

}

@media (max-width: 768px) {

  .hidden-xs {
    display: none;
  }

}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ie-box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body:before {
  right: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  content: "";
  background-size: cover;
  bottom: 0;
  background-image: url(../img/first-level-bg.png);
  opacity: 0.3;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ie-filter: blur(8px);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ie-transform: scale(1.2);
}

button:focus, button:active, a:focus, a:active {
  outline: none !important;
}

.center {
  width: 100%;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.embed-left {
  margin-right: 15px;
  float: left;
}

article.review {
  border: 4px solid #ed8639;
  background-color: white;
  margin: 40px 0 100px 80px;
  padding: 20px 60px;
  width: 730px;
}

article.review section {
  margin-top: 20px;
  line-height: 21px;
}

article.review h1 {
  line-height: 60px;
  width: calc(100% + 120px);
  background-position: 60px 50%;
  background-repeat: no-repeat;
  height: 60px;
  margin: 60px 0 0 -60px;
  padding: 2px 60px 2px 110px;
  font-size: 1.8em;
  background-color: #ed8639;
  display: block;
  color: white;
}

article.review h1.pipe {
  background-image: url(../img/pipe.png);
}

article.review h1.yoshi-house {
  background-image: url(../img/yoshi-house.png);
}

article.review h1.mushroom {
  background-image: url(../img/mushroom.png);
}

article.review h1.question-block {
  background-image: url(../img/question-block.png);
}

article.review h1.green-switch {
  background-image: url(../img/green-switch.png);
}

article.review h1.galoomba {
  background-image: url(../img/galoomba.png);
}

article.review h1.jump-block {
  background-image: url(../img/jump-block.png);
}

article.review h1.ghost-house {
  background-image: url(../img/ghost-house.png);
}

article.review h1.yoshi {
  background-image: url(../img/yoshi.png);
}

article.review h1.wendy {
  background-image: url(../img/wendy.png);
}

article.review h1.mask-koopa {
  background-image: url(../img/mask-koopa.png);
}

article.review h1.wendy {
  background-position: 35px 50%;
}

article.review h1.yoshi {
  background-position: 35px 50%;
}

article.review h2 {
  font-size: 1.2em;
}

article.review p {
  margin-bottom: 20px;
}

article.review .game-title {
  float: left;
}

article.review .game-stats {
  float: right;
}

article.review .game-stat {
  font-weight: 100;
  font-size: 0.75em;
  color: white;
  background-color: #ed8639;
  padding: 3px 15px;
  margin: 8px -60px 8px 0;
}

article.review .game-stat:first-child {
  margin-top: 20px;
}

article.review .dev-stat {
  color: white;
  background-color: #0057ff;
  margin-top: 20px;
}

article.review .dev-stat a {
  text-decoration: none;
  color: white;
  margin: 0 10px 0 6px;
}

@media (max-width: 768px) {

  article.review {
    padding: 10px;
    margin: 0;
    width: 100%;
  }
  
  article.review h1 {
    margin: 40px 0 0 -10px;
    width: calc(100% + 20px);
  }
  
  article.review img {
    height: auto;
    max-width: 290px;
  }

}

.caption {
  color: #333333;
  line-height: 1em;
  font-size: 0.75em;
  font-style: italic;
  padding: 8px;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
  font-size: 0;
}

@keyframes fadein {

  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }

}

@-webkit-keyframes fadein {

  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }

}

@-moz-keyframes fadein {

  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }

}

@-o-keyframes fadein {

  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }

}

@-ie-keyframes fadein {

  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }

}

#main-content {
  display: none;
}

#main-content.fade-in {
  display: block;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -o-animation: fadein 3s;
  -ie-animation: fadein 3s;
}

#welcome-vid-container {
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

.callout {
  margin-bottom: 10px;
  border: 1px solid hsla(25.666666, 83.333336%, 57.64706%, 0.4);
  padding: 3px;
  background-color: hsla(25.666666, 83.333336%, 57.64706%, 0.4);
}

.callout-left {
  margin-right: 20px;
  float: left;
}

.callout-right {
  margin-left: 20px;
  float: right;
}

.callout-inline {
  border: 0;
  border-radius: 5px;
  margin: 10px 0;
  line-height: 1.2em;
  font-size: 0.8em;
  padding: 10px;
}

.music-callout-header {
  float: left;
}

.music-callout-body {
  width: calc(100% - 150px);
  margin-left: 10px;
  float: left;
}

.gif-warning {
  padding: 15px;
  color: white;
  background-color: #be1b44;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  background-image: url(../img/mario-die.png);
  margin: 0;
  animation: mario-agitate 2s infinite;
  -webkit-animation: mario-agitate 2s infinite;
  -moz-animation: mario-agitate 2s infinite;
  -o-animation: mario-agitate 2s infinite;
  -ie-animation: mario-agitate 2s infinite;
  box-shadow: 6px 6px 8px 1px #999999;
  -webkit-box-shadow: 6px 6px 8px 1px #999999;
  -moz-box-shadow: 6px 6px 8px 1px #999999;
  -o-box-shadow: 6px 6px 8px 1px #999999;
  -ie-box-shadow: 6px 6px 8px 1px #999999;
}

.gif-warning.fade-out {
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  -o-animation: fadeout 1s;
  -ie-animation: fadeout 1s;
}

.gif-warning.fade-out-done {
  display: none;
}

.gif-warning-text {
  line-height: 22px;
  margin-bottom: 20px;
  margin-left: 90px;
}

.gif-warning-text h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.gif-warning-button-container {
  text-align: center;
  margin-top: 20px;
}

.gif-warning-button-container button {
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid white;
  color: white;
  background-color: #be1b44;
  border-radius: 0;
  padding: 10px;
}

.gif-warning-button-container button:hover {
  border: 1px solid #be1b44;
  background-color: white;
  color: #be1b44;
}

.gif-warning-button-container button:active {
  outline: none;
}

.gif-warning-button-container button:focus {
  outline: none;
}

@keyframes mario-agitate {

0% {
    background-position: 15px 50%;
  }
  
25% {
    background-position: 25px 50%;
  }
  
50% {
    background-position: 25px 50%;
  }
  
75% {
    background-position: 15px 50%;
  }
  
100% {
    background-position: 15px 50%;
  }

}

@-webkit-keyframes mario-agitate {

0% {
    background-position: 15px 50%;
  }
  
25% {
    background-position: 25px 50%;
  }
  
50% {
    background-position: 25px 50%;
  }
  
75% {
    background-position: 15px 50%;
  }
  
100% {
    background-position: 15px 50%;
  }

}

@-moz-keyframes mario-agitate {

0% {
    background-position: 15px 50%;
  }
  
25% {
    background-position: 25px 50%;
  }
  
50% {
    background-position: 25px 50%;
  }
  
75% {
    background-position: 15px 50%;
  }
  
100% {
    background-position: 15px 50%;
  }

}

@-o-keyframes mario-agitate {

0% {
    background-position: 15px 50%;
  }
  
25% {
    background-position: 25px 50%;
  }
  
50% {
    background-position: 25px 50%;
  }
  
75% {
    background-position: 15px 50%;
  }
  
100% {
    background-position: 15px 50%;
  }

}

@-ie-keyframes mario-agitate {

0% {
    background-position: 15px 50%;
  }
  
25% {
    background-position: 25px 50%;
  }
  
50% {
    background-position: 25px 50%;
  }
  
75% {
    background-position: 15px 50%;
  }
  
100% {
    background-position: 15px 50%;
  }

}

.video-to-image-container {
  height: 164px;
  position: relative;
}

.video-to-image-img {
  position: absolute;
  z-index: 50;
}

.video-to-image-video {
  position: absolute;
  z-index: 100;
}

.video-to-image-video.fade-out {
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  -o-animation: fadeout 1s;
  -ie-animation: fadeout 1s;
  opacity: 0;
}

@keyframes fadeout {

0% {
    opacity: 1;
  }
  
100% {
    opacity: 0;
  }

}

@-webkit-keyframes fadeout {

0% {
    opacity: 1;
  }
  
100% {
    opacity: 0;
  }

}

@-moz-keyframes fadeout {

0% {
    opacity: 1;
  }
  
100% {
    opacity: 0;
  }

}

@-o-keyframes fadeout {

0% {
    opacity: 1;
  }
  
100% {
    opacity: 0;
  }

}

@-ie-keyframes fadeout {

0% {
    opacity: 1;
  }
  
100% {
    opacity: 0;
  }

}

@media (max-width: 768px) {

  .video-to-image-container {
    height: auto;
  }

}

.activatable-video-container {
  margin: 0 auto;
  position: relative;
  display: table;
}

.replay {
  padding: 3px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #aaaaaa;
  bottom: -1px;
  left: -1px;
  position: absolute;
}

.hud-explorer {
  padding: 20px;
  color: white;
  background-color: #be1b44;
  position: relative;
  box-shadow: 6px 6px 8px 1px #999999;
  -webkit-box-shadow: 6px 6px 8px 1px #999999;
  -moz-box-shadow: 6px 6px 8px 1px #999999;
  -o-box-shadow: 6px 6px 8px 1px #999999;
  -ie-box-shadow: 6px 6px 8px 1px #999999;
}

.hud-explorer-closed {
  padding-top: 20px;
  text-align: center;
}

.hud-explorer-img-container {
  border: 2px solid white;
  margin: 0 auto;
  height: 98px;
  width: 516px;
  position: relative;
}

.hud-explorer-img-container img {
  position: absolute;
  z-index: 50;
}

.hud-explorer-img-container canvas {
  position: absolute;
  z-index: 100;
}

.hud-explorer-entry {
  width: 100%;
  margin-top: 5px;
  padding-left: 30px;
}

.hud-explorer-entry:hover {
  background-color: white;
  color: #be1b44;
}

.hud-explorer-entry:nth-of-type(1) {
  margin-top: 20px;
}

.hud-explorer-entry-name {
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
}

.hud-explorer-entry-description {
  font-size: 0.9em;
  display: inline-block;
  color: #be1b44;
}

.hud-explorer-toggle-tray {
  margin: 20px -20px -20px -20px;
  color: white;
  background-color: #ed8639;
  width: calc(100% + 40px);
  font-size: 1.4em;
  text-align: center;
}

.music-player-controls {
  left: 20px;
  border-bottom: 0;
  position: fixed;
  display: inline-block;
  padding: 5px;
  z-index: 999999;
  width: 350px;
  background-color: #be1b44;
  bottom: 0;
}

@media (max-width: 768px) {

  .music-player-controls {
    left: 0;
    right: 0;
  }

}

.music-player-current-title {
  margin-top: 5px;
  padding: 2px;
  font-size: 0.7em;
  color: white;
}

.music-player-song-entry {
  float: left;
  padding: 5px;
  display: inline-block;
}

.music-player-song-entry.active-song {
  background-color: #ed8ca4;
}

.music-player-toggle-button {
  float: left;
  width: 20px;
  height: 20px;
  margin: -5px 5px 0 -5px;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.8em;
  background-color: #ed8639;
  color: white;
}

.level-explorer .thumbnail-container {
  text-align: center;
}

.level-explorer .thumbnail-container img {
  margin: 4px;
}

.level-explorer-entry {
  cursor: pointer;
  clear: both;
  line-height: 1.2em;
  font-size: 0.8em;
  margin: 20px 0;
}

.level-explorer-entry:hover {
  background-color: #ed8ca4;
}

.level-explorer-entry h2 {
  margin-top: 5px;
}

.level-explorer-closed-description {
  width: calc(100% - 132px);
  float: right;
}

.level-explorer-instructions {
  font-weight: bold;
}

.level-explorer-active-level {
  color: #be1b44;
  background-color: white;
}

.level-explorer-active-level-video {
  width: 256px;
  margin-right: 8px;
  float: left;
}

.level-explorer-active-level-body h2 {
  margin-bottom: 8px;
}

.entity-explorer {
  padding: 20px;
  color: white;
  background-color: #be1b44;
  margin: 30px 0;
  box-shadow: 6px 6px 8px 1px #999999;
  -webkit-box-shadow: 6px 6px 8px 1px #999999;
  -moz-box-shadow: 6px 6px 8px 1px #999999;
  -o-box-shadow: 6px 6px 8px 1px #999999;
  -ie-box-shadow: 6px 6px 8px 1px #999999;
}

.entity-explorer .entity-explorer-main-area {
  margin-bottom: 20px;
  color: #be1b44;
  background-color: white;
  padding: 20px;
  width: calc(100% - 160px);
  float: left;
}

.entity-explorer .entity-explorer-main-area h1 {
  color: #be1b44;
  background-color: transparent;
  line-height: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.entity-explorer .entity-explorer-entry {
  cursor: pointer;
  padding: 8px 0;
  margin: 8px 0;
  text-align: center;
  width: 90%;
}

.entity-explorer .entity-explorer-entry:first-child {
  margin-bottom: 8px;
  margin: 0;
}

.entity-explorer .entity-explorer-entry:last-child {
  margin-top: 8px;
  margin: 0;
}

.entity-explorer .entity-explorer-entry.active-entity {
  background-color: white;
}

.entity-explorer .flipped img {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ie-transform: scaleX(-1);
}

.entity-explorer-header {
  margin: 0 4px;
}

.entity-explorer-instructions {
  margin-top: 100px;
  text-align: center;
}

.entity-explorer-column {
  margin-bottom: 20px;
  width: 80px;
  text-align: center;
}

.entity-explorer-column.entity-explorer-column-left {
  float: left;
}

.entity-explorer-column.entity-explorer-column-right {
  float: right;
}

.entity-explorer-column.entity-explorer-column-right .entity-explorer-entry {
  margin-left: 10px;
}

.rotate-tip {
  font-size: 0.9em;
  font-style: italic;
}

@media (max-width: 768px) {

  .entity-explorer {
    margin: 0 -10px 0 -10px;
  }
  
  .entity-explorer .entity-explorer-column {
    width: auto;
  }

}

@media (max-width: 320px) {

  .entity-explorer {
    padding-right: 0;
  }
  
  .entity-explorer .entity-explorer-main-area {
    width: calc(100% - 70px);
  }
  
  .entity-explorer .hud-explorer-toggle-tray {
    width: calc(100% + 20px);
  }

}